/*
nav.menu{
 margin-top: 20px;
 margin-left: 250px;
 float: none;
}

img.logo{
 text-align: left;
 float: left;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: black;
    background-color: white;
    text-decoration: none;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 100px;
    top: 37px;
    background-color: white;
    border: 1px double black;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: black;
    background-color: white;
    
}

ul.menu > li > a:hover {
    background-color: white;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}
*/